@import '../styles/variables.scss';
@import '../styles/typography';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: $main-font;
    background: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #fff;
    text-transform: uppercase;
    
    font-size: 6vw;
    letter-spacing: -0.05em;

    position: relative;

    overflow: hidden;
    text-align: center;

    width: 100%;
    height: 100%;
}

.base {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: default;
}

.clone {
    cursor: default;
    display: block;
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

// .container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }
