@import 'variables';
@import 'typography';

$pink: #e0045c;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background: #000;
    color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

    color: $pink;
    text-transform: uppercase;

    // font-size: 15vw;
    // font-size: 11.111vh;
    
    font-size: 8vw;
    // line-height: 0.85;
    letter-spacing: -0.06em;

    // position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;

    position: absolute;

}

.base {
    z-index: 1;
}

.node {
    position: fixed;
    left: 0;
    top: 0;
}