@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background: #000;
    // color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;

    color: #fff;
    text-transform: uppercase;
    
    font-size: 4.5vw;
    // line-height: 0.9;
    letter-spacing: -0.06em;

    overflow: hidden;
    text-align: center;

    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.line-w {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    // mask-image: linear-gradient(125deg, rgba(0, 0, 0, 0) 10%, black 14%, black 86%, rgba(0, 0, 0, 0) 90%);
    // -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(14%, black), color-stop(86%, black), color-stop(90%, rgba(0, 0, 0, 0)))

    span {
        flex-shrink: 0;
        width: 100%;
        letter-spacing: 0.05em;
    }
}